:root {
    --brand-color:#0F4C5C;
    --primary:#9A031E;
    /* --brand-cta:#FB8B24; */
    --brand-cta:#13667a;
    --secondary:#5F0F40;
    --tertiary:#E36414;
    --gray:#555;
    --dark-gray:#474e5d;
    --light-gray:#7e7e7e;
    --extra-light-gray:#b4b4b4;
    --white:#fff;
    --dark-gray:#202124;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding:0;
}

.navbar-brand {
    color:var(--brand-color) !important;
    font-weight: 800;
}

.navbar-collapse {
    justify-content: center;
}

.nav-link:hover {
    border-bottom: 1px solid var(--brand-color);
}

.text-brand  {
    color:var(--brand-color);
}

.btn-cta {
    background-color: var(--brand-cta) !important;
    color: var(--white);
}

.btn-cta:hover, .btn-cta:focus {
    background-color: var(--brand-color) !important;
    color: white;
}

.btn-brand {
    background-color: var(--brand-cta) !important;
    color: var(--white);
    transition: all 0.3s;
}

.btn-brand:hover {
    color: white;
    transform: scale(1.2);
}

.img-thumbnail {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bg-extra-light {
    background-color: var(--extra-light-gray);
}

/* side Nav */

.side-section {
    position: relative;
    height: 92vh;
    width:100%;
    top: 0%;
    background-color: var(--dark-gray);
    box-shadow: 2px 0px 0.4em var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.side-section img {
    bottom: 0;
    left: 5%;
    object-fit: cover;
    height: 80px;
    width: 80px;
    margin: 1%;
    border-radius: 50%;
    border:1px solid var(--white)
}

.list-item {
    padding:0em;
    list-style: none;
    width: 100%;
}

.list-item li {
    padding: 0.2em;
}

.list-item li:hover {
    background-color: var(--secondary);
}

.list-item li a {
    color: var(--white);
    font-size: 0.9em;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-left: 1em;
}

.list-item li a:hover {
    text-decoration: none;
}

a .fa  {
    font-size: 1em;
    margin-right:0.7em;
    padding-top: 0.1em;
}

.btn-close {
    position: absolute;
    top: 0%;
    right: 5%;
    color: var(--white);
    font-size: 1.5em;
}

/* Background colors */
.bg-brand {
    background-color: var(--brand-color);
    color:var(--white) !important;
}

@media (min-width:50em) {
    .side-section {
        /* width:15%; */
    }

    .side-section img {
        /* left: 2%; */
    }

    a span {
        display: block;
    }

}