.navbar {
    box-shadow: 2px 1px 0.5em var(--gray);
    z-index: 1;
    position: fixed;
    top:0;
    left:0;
}

.navbar-brand {
    padding: 0.5em 0.9em 0.5em;
    width: 100%;
}

.container-fluid {
    display: flex;
    padding: 0;
}

.container-fluid .row {
    margin: 0;
}

.map-section {
    margin: 50px 0 0 0;
    z-index: 0;
    overflow: hidden;
}

.row {
    width: 100%;
}

.col-sm-2 {
    border-bottom: 1px solid white;
}

.col-sm-2, .col-sm-10, .col-sm-1, .col-sm-11 {
    padding:0;
}

#map {
    height: 92vh;
    width: 100%;
    z-index: 0;
   
}

.search-section {
    position: absolute;
    top: 3%;
    z-index: 1500;
    width: 73vw;
    left: 3%;
}

.search-result {
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: var(--white) !important;;
    font-size: 0.8em;
    font-style: italic;
}

:-ms-input-placeholder { 
    color: var(--white) !important;;
    font-size: 0.8em;
    font-style: italic;
}
  
.form-control::placeholder {
    color: var(--white) !important;
    font-size: 0.8em;
    font-style: italic;
}

.form-control {
    background-color: var(--gray);
    color:var(--white);
}

.form-control:focus  {
    background-color: var(--gray);
    color: var(--white);
}

.filter-section.collapse-filter {
    transform:translateX(-100%);
}

.filter-section h5 {
    font-size: 1.3em;
}

.btn-close {
    position: absolute;
    top:0%;
    cursor: pointer;
    right:2%;
    font-size: 2em;
    font-weight: 700;
    background-color: transparent;
}

.leaflet-popup-content-wrapper{
    overflow: hidden;
    border-radius: 0;
    padding: 0;
}

.leaflet-container a.leaflet-popup-close-button {
    color:var(--white);
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin:0;
    min-width: 240px;
}

.popup-content {
    overflow: hidden;
    padding: 0;
}

.popup-title {
    width: 100%;
    background-color:var(--brand-color);
    color: var(--white);
    text-align: center;
    margin-top: 0px;
    font-size: 1.5em;
    padding: 0.5em 1rem;
}

.popup-body {
    padding:0 0.5em;
}

.popup-body .popup-item {
    margin:0.8em 0;
}

.popup-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.1em;
}

.accordion {
    box-shadow: 2px 2px 0.2em var(--gray);
    width: 100%;
    /* display:block;*/
    /* border-radius: 6px; */
}

.legend_wrapper {
    display: flex;
}

#collapseOne {
    background-color: var(--gray);
    color:var(--white);
    min-width: 20vw; 
    max-height: 35vh;
    overflow-y: auto;
}

.btn-block {
    position: sticky;
}

.legend-item {
    height: 20px;
    padding:0.1em;
    width:40%;
    margin: 0.5em;
}
label {
    margin-left:0.5em;
    margin-bottom: 0;
    font-size: 1.1em;
}

.form-group, .col {
    display: flex;
    align-items: center;
}


.visual-control {
    background-color: white;
    padding: 0.5em 0.25em;
    border-radius: 0.4em;
    width: 100px;
}

@media (min-width:50em) {
    .search-section {
        width: 30%;
        left:1%;
    }

}