{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}

{% block style %}
    <!-- <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> -->
{% endblock %}

{% block content %}
<style>
  .navbar {
    width: 100%;
    box-shadow: 1px 1px 0.3em #343434;
  }
  .container {
      margin-top: 80px;
  }
</style>
{% include '../navbar.html' %}
<div class="container-fluid my-5 d-flex justify-content-center">
    <div class="col-md-6">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_number">{{ form.first_name.label}}</label>
                    {{ form.first_name }}
                  </div>
        
                  <div class="form-group col-md-6">
                    <label for="phone_number">{{ form.phone_number.label }}</label>
                    {{ form.phone_number }}
                  </div>
              </div>
        
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="department">{{ form.last_name.label}}</label>
                    {{ form.last_name }}
                  </div>
        
                  <div class="form-group col-md-6">
                    <label for="employee_status">{{ form.surname.label }}</label>
                    {{ form.surname }}
                  </div>          
              </div>

              <div class="form-group">
                <label for="county">{{ form.email.label }}</label>
                {{ form.email }}
              </div>

              <div class="form-group">
                <label for="profile_pic">{{ form.image.label }}</label>
                {{ form.image }}
              </div>
              
              {% if form.email.value %}
                <input type="submit" name="Login" value="Update Profile" class="btn btn-brand mt-2">
              {% else %}
                <input type="submit" name="Login" value="Create Profile" class="btn btn-brand mt-2">
              {% endif %}
              
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/addControlClass.js' %}"></script>
{% endblock %}