{% extends 'base.html' %}
{% load static %}
{% block style %}
  <style>
    .navbar {
      box-shadow: 1px 1px 0.5em var(--light-gray);
    }
    .custom-form {
      min-width: 30%;
      box-shadow: 1px 1px 0.5em var(--light-gray);
    }

    .custom-form p {
      margin: 0;
    }
  </style>
{% endblock %}

{% block content %}
{% include '../navbar.html' %}
<div class="container my-5 d-flex justify-content-center">
<div class="custom-form my-5">
  <form class="form-horizontal py-3 px-3" action="" method="post">
    <h5 class="text-center">Login</h5>
    {% csrf_token %}
      {{ form }}
      <input type="submit" name="Login" value="Login" class="btn btn-cta mt-2">
  </form>
  <p class="mx-2">Don't have an account? <a href="{% url 'user:register' %}"> Register.</a></p>
  <p class="mx-2">Forgot Password ?<a href="{% url 'user:login' %}"> Reset Password.</a></p>
</div>

</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/addControlClass.js' %}"></script>
{% endblock %}
