{% extends 'base.html' %}
{% load static %}
{% block title %} Map {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
{% include '../nav.html' %}
<div class="row map-section">
    <div class="col-xs-12 col-sm-2">
        {% include '../sidenav.html' %}
    </div>
    <div class="col-xs-12 col-sm-10"> 
        <div class="">
            <div class="" id="map">
                <div class="search-section">
                    <input type="text" class="form-control" id="search-input" name="search" placeholder="Search Parcel Number or Owner ..">
            
                    <div class="search-result">
                        <ul class="list-group list-group-sm" id="search-result">
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'leaflet/leaflet.js'%}"></script>
    <script src="{% static 'js/map.js'%}"></script>
{% endblock %}