<div class="side-section bg-brand">
    <ul class="list-item">
        <li>
            <a href="{% url 'property:landing' %}">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="{% url 'property:dashboard' %}">
                <i class="fa fa-area-chart"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'property:map' %}">
                <i class="fa fa-map"></i>
                <span>Map</span>
            </a>
        </li>

        <li>
            <a href="{% url 'user:profile' %}">
                <i class="fa fa-user"></i>
                <span>Account</span>
            </a>
        </li>

    </ul>
    <!-- <img src="/media/buffer.PNG" alt="" class="img-circle img-responsive"> -->
</div>